@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  background-image: url('/images/code-pattern.jpg');
  background-repeat: repeat; /* Görseli tüm alana tekrarlat */
  background-attachment: fixed; /* Sayfa kaydırılsa bile deseni sabit tut (Derinlik hissi verir) */
  background-color: #0a0a0a; /* Siyah arkaplanı garanti et */
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif;
}
